.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .squeresBox {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .squere{
      width: 50px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 50%;
    }
  }
  button{
    margin-top: 20px;
    background-color: rgba(97, 95, 95, 0.304);
    border: none;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid white;
    cursor: pointer;
  }
  button:hover{
    background-color: lightgray;
    color: #282c34;
    transition-duration: 0.25s;
  }
}


